<!doctype html>
{% load staticfiles %}
<html lang="en">
  <head>
  </head>
  <body>
    <!-----fixed-footer --------->
    <footer class="container-fluid bg-dark p-0 fixed-bottom">
        <div class="row pt-3 px-5">
            <div class="col-md-6">

            </div>
            <div class="col-md-6 text-right ">
                <p class="social-media-icons"><a target="_blank" href="https://www.facebook.com" title="Facebook"><i class="fa fa-facebook-official" aria-hidden="true"></i> </a><a target="_blank" href="https://twitter.com" title="Twitter"><i class="fa fa-twitter-square" aria-hidden="true"></i></a> <a target="_blank" href="https://www.linkedin.com/in/ajaya-kumar-725921112/" title="Linkedin"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></p>
            </div>
        </div>
    </footer>
  </body>
</html>
